<div *ngIf="message"
     [ngClass]="{ 'alert': message, 'alert-success alert-dismissible fade in': message.type === 'success', 'alert-danger alert-dismissible fade in': message.type === 'error' }">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message.text}}
</div>